@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorPrimary: rgb(...);
  --colorInfo: rgb(...);
  --colorSuccess: rgb(...);
  --colorError: rgb(...);
  --colorWarning: rgb(...);
  --colorLink: rgb(...);
  --colorBgBase: rgb(...);
  --primaryGradientStart: rgb(...);
  --primaryGradientMiddle: rgb(...);
  --primaryGradientEnd: rgb(...);
}
body {
  background-color: var(--colorBgBase);
  font-family: var(--font-mi-sans), sans-serif;
}
